<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta 
    http-equiv="Content-Security-Policy" 
    content="default-src 'self'; script-src 'self'"
  >
  <title>Home</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
  <link rel="stylesheet" href="../public/css/button.css">
</head>
<body>
  <div class="container-fluid p-3 vh-100">
    <div class="card h-100">
      <div class="card-header text-center">
        <h1>P1Emulator</h1>
      </div>
      <div class="card-body">
        <div 
          class="
            container-fluid 
            d-flex  
            justify-content-around 
            flex-column 
            h-100
          "
        >
          <div class="d-flex flex-row justify-content-around ">
            <button 
              type="button" 
              id="btn-military"
              class="btn btn-secondary"
            >
              <img src="../public/icons/policeB-128px.png" alt="">
              <br/>
              <span class="text-white">MILITAR</span>
            </button>
            <button 
              type="button" 
              id="btn-classroom"
              class="btn btn-secondary">
              <img src="../public/icons/classroom-128px.png" alt="">
              <br/>
              <span class="text-white">TURMA</span>
            </button>
            <button 
              type="button" 
              id="btn-activity"
              class="btn btn-secondary">
              <img src="../public/icons/activity-128px.png" alt="">
              <br/>
              <span class="text-white">ATIVIDADE</span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        Desenvolvido por Ramon Giovanelli.
      </div>
    </div> 
  </div>
  
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="../renderers/renderer.js" defer></script>
</body>
</html>