<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta 
    http-equiv="Content-Security-Policy" 
    content="
      default-src 'self'; 
      img-src 'self' data:; 
      script-src 'self'; 
      style-src 'self' 'unsafe-inline';
    "
  >
  <title>Atividade</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/button.css">
</head>
<body>
  <div class="container-fluid p-3 vh-100">
    <div class="card h-100">
      <div class="card-header text-center">
        <h1>Atividade</h1>
      </div>
      <div class="card-body">
        <div
          class="
            container-fluid
            d-flex
            justify-content-around
            flex-column
            h-100
          "
        >
          <div class="d-flex flex-row justify-content-around">
          
            <button 
              type="button" 
              id="btn-add-classroom" 
              class="btn btn-secondary"
            >
              <img src="../public/icons/addActivity-128px.png" alt="">
              <br/>
              Cadastrar Atividade
            </button>
            <button 
              type="button" 
              id="btn-search-classroom" 
              class="btn btn-secondary"
            >
              <img src="../public/icons/searchActivity-128px.png" alt="">
              <br/>
              Pesquisar Atividade
            </button>
            <button 
              type="button" 
              id="btn-add-classroom" 
              class="btn btn-secondary"
            >
              <img src="../public/icons/addScale-128px.png" alt="">
              <br/>
              Gerar Escala
            </button>
            <button 
              type="button" 
              id="btn-add-classroom" 
              class="btn btn-secondary"
            >
              <img src="../public/icons/searchScale-128px.png" alt="">
              <br/>
              Pesquisar Escala
            </button>
          
          </div>
        </div>
        
      </div>
      <div class="card-footer text-end">
        Desenvolvido por Ramon Giovanelli.
      </div>
    </div>
  </div>
  <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>