<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta 
    http-equiv="Content-Security-Policy" 
    content="
      default-src 'self'; 
      img-src 'self' data:; 
      script-src 'self'; 
      style-src 'self' 'unsafe-inline';
    "
  >
  <title>Atividade</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid p-3 vh-100">
    <div class="card h-100">
      <div class="card-header text-center">
        <h1>Atividade</h1>
      </div>
      <div class="card-body">

      </div>
      <div class="card-footer text-end">
        Desenvolvido por Ramon Giovanelli.
      </div>
    </div>
  </div>
  <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>