<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta 
    http-equiv="Content-Security-Policy" 
    content="
      default-src 'self'; 
      img-src 'self' data:; 
      script-src 'self'; 
      style-src 'self' 'unsafe-inline';
    "
  > -->
  <!-- <meta 
    http-equiv="Content-Security-Policy" 
    content="default-src 'self'; script-src 'self'"
  > -->
  <meta 
    http-equiv="Content-Security-Policy" 
    content="default-src 'self'; img-src 'self' data:;"
  >
  <title>Registro Militar</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/militaryRecord.css">
</head>
<body>
  <div class="container-fluid p-3 vh-100">
    <form id="militaryForm">
      <div class="card mb-2">
        <div class="card-header text-center">
          <h1 id="header">Registro Militar</h1>
        </div>
        <div class="card-body h-100">
          <div class="container-fluid d-flex flex-column gap-2">
            <div class="row">
              <div class="form-floating mb-1 col">
                <select class="form-select" id="classroom-number" disabled>
                </select>
                <label for="classroom-number" class="form-label ms-2 fw-bold">
                  Turma
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="number" 
                  class="form-control" 
                  id="military-number"
                  disabled
                />
                <label for="class" class="form-label ms-2 fw-bold">
                  Matrícula
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="functional-name"
                  disabled
                />
                <label for="functional-name" class="form-label ms-2 fw-bold">
                  Nome Funcional
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="name"
                  disabled
                />
                <label for="name" class="form-label ms-2 fw-bold">Nome</label>
              </div>
              <div class="form-floating mb-1 col-3">
                  <input type="text" class="form-control" id="rank" disabled>
                  <label for="rank" class="form-label ms-2 fw-bold">
                    Graduação
                  </label>
              </div>
              <div class="form-floating mb-1 col">
                <select class="form-select" id="role" disabled>
                  <option value="sem_funcao">Sem Função</option>
                  <option value="p1">P1</option>
                  <option value="p2">P2</option>
                  <option value="p3">P3</option>
                  <option value="p4">P4</option>
                  <option value="auxiliar_p4">Auxiliar de P4</option>
                  <option value="p5">P5</option>
                  <option value="tca">TCA</option>
                </select>
                <label for="role" class="form-label ms-2 fw-bold">
                  Função de Turma
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating mb-1 col">
                <select class="form-select" id="driver-licence" disabled>
                  <option value=""></option>
                  <option value="a">A</option>
                  <option value="b">B</option>
                  <option value="ab">AB</option>
                  <option value="c">C</option>
                  <option value="ac">AC</option>
                  <option value="d">D</option>
                  <option value="ad">AD</option>
                  <option value="e">E</option>
                  <option value="ae">AE</option>
                </select>
                <label for="driver-licence" class="form-label ms-2 fw-bold">
                  CNH
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="academic-background"
                  disabled 
                />
                <label 
                  for="academic-background" 
                  class="form-label ms-2 fw-bold"
                >
                  Formação Acadêmica
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="profissional-experience"
                  disabled 
                />
                <label for="profissional-experience" class="form-label ms-2 fw-bold">
                  Experiência Profissional
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="first-phone"
                  disabled
                />
                <label for="first-phone" class="form-label ms-2 fw-bold">
                  Telefone 1
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="second-phone"
                  disabled 
                />
                <label for="second-phone" class="form-label ms-2 fw-bold">
                  Telefone 2
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="street" 
                  disabled
                />
                <label for="street" class="form-label ms-2 fw-bold">
                  Logradouro
                </label>
              </div>
              <div class="form-floating mb-1 col-2 numeric-field">
                <input 
                  type="text" 
                  class="form-control" 
                  id="house-number"
                  disabled
                />
                <label for="house-number" class="form-label ms-2 fw-bold">
                  Número
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="complement"
                  disabled
                />
                <label for="complement" class="form-label ms-2 fw-bold">
                  Complemento
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="neighborhood"
                  disabled
                />
                <label for="neighborhood" class="form-label ms-2 fw-bold">
                  Bairro
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="city"
                  disabled
                />
                <label for="city" class="form-label ms-2 fw-bold">
                  Cidade
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating mb-1 col">
                <input 
                  type="number" 
                  class="form-control" 
                  id="rpm-origin"
                  disabled
                />
                <label for="rpm-origin" class="form-label ms-2 fw-bold">
                  RPM Origem
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="unit-origin"
                  disabled
                />
                <label for="unit-origin" class="form-label ms-2 fw-bold">
                  Unidade Origem
                </label>
              </div>
              <div class="form-floating mb-1 col">
                <input 
                  type="text" 
                  class="form-control" 
                  id="company-origin"
                  disabled 
                />
                <label for="company-origin" class="form-label ms-2 fw-bold">
                  Companhia Origem
                </label>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-6">
                <div class="form-floating">
                  <textarea 
                    class="form-control" 
                    id="observation"
                    disabled 
                  ></textarea>
                  <label for="observation" class="form-label ms-2 fw-bold">
                    Observações
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="button" class="btn btn-secondary" id="btn-edit">
            Editar
          </button>
          <button type="button" class="btn btn-danger" id="btn-delete">
            Deletar
          </button>
        </div>
      </div>
    </form>
  </div>
  <script src="../public/js/bootstrap.bundle.min.js"></script>
  <script src="./rendererMilitaryRecord.js" defer></script>
</body>
</html>